<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="anySuiteName">

	<listeners>
		<listener class-name="com.deena.customreports.MyCustomReporter"></listener>
		<listener class-name="com.deena.TestNGLearn.Listners.MyCustomListner"></listener>
		<listener class-name="com.deena.TestNGLearn.Listners.MyCustomListner2"></listener>
		<listener class-name="com.deena.TestNGLearn.Listners.MyCustomListner3"></listener>
		<!-- <listener class-name="com.deena.TestNGLearn.example.TestAnnotationTransformerListner"></listener> -->
	</listeners>
	
	<suite-files>
		<!-- <suite-file path="src/main/resources/Suite1.xml"></suite-file>
		<suite-file path="src/main/resources/Suite2.xml"></suite-file> -->
		<suite-file path="src/main/resources/Suite3.xml"></suite-file>
	</suite-files>
	


</suite>